body {
    overflow-y: scroll;
    /* Oh, whatever. */
}

#nav, #not-nav {
    display: inline;
    overflow: hidden;
    margin-bottom: 10px;
}

#nav {
    float: left;
    margin-left: 2%;
    margin-right: 1%;
    padding-bottom: 1%;
    position: fixed;
    width: 14%;
}

#not-nav {
    float: right;
    margin-left: 1%;
    margin-right: 2%;
    padding: 2% 2.5%;
    width: 75%;
}

/* When the screen gets real tiny, put the nav bar on top.
   Accordingly, make the not-nav portion wider. */
@media only screen and (max-width: 555px) {
    #nav, #not-nav {
        margin-left: 1%;
        margin-right: 1%;
        width: 98%;
    }
    
    #nav {
        position: static;
    }
    
    #not-nav {
        padding: 2% 2.5%;
        width: 93%;
    }
}
